/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Full page center */
.login-page {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.signup-page {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Title */
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Login card */
.login-box {
  background: #ffffff;
  color: #333;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-box {
  background: #ffffff;
  color: #333;
  padding: 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin: 0;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin: 0;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #2c5364;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn:hover {
  background: #203a43;
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background: #2c5364;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-btn:hover {
  background: #203a43;
}

/* Signup */
.signup-text {
  margin-top: 15px;
  font-size: 0.9rem;
}

.signup-text a {
  text-decoration: none;
  color: #2c5364;
  font-weight: bold;
  cursor: pointer;
}