* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}

.page {
    background: linear-gradient(135deg, #223344, #334455, #335566);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.button {
    border:solid;
    border-color: white;
    border-radius:3px;
    padding: 20px 30px;
    color: white;
}